@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light: #ffffff;
  --color-dark: #1a1d24;
  --color-grey: #202020;
  --color-text-light: rgba(0, 0, 0, 0.88);
  --color-text-dark: #ffffff;
  --color-text-light-muted: rgba(0, 0, 0, 0.65);
  --color-text-dark-muted: rgba(255, 255, 255, 0.65);
  --color-btn: #3086ff;
}
